# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Django
*.log
*.pot
*.pyc
*.py~
db.sqlite3

# Media and static uploads
/media/
/staticfiles/

# IDE / Editor files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
