{% load static %}

<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="fas fa-angle-double-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="fas fa-angle-double-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="fas fa-ellipsis-v"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>

  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">

        <!-- Dashboard -->
       

        <!-- Section -->
        <li class="nav-section">
          <span class="sidebar-mini-icon"><i class="fas fa-ellipsis-h"></i></span>
          <h4 class="text-section">MENUS</h4>
        </li>

         <li class="nav-item">
  <a href="{% url 'add_visit' %}" class="flex items-center gap-2 text-gray-700 hover:text-blue-600">
    <i class="fas fa-home text-base"></i>
    <span>Home</span>
  </a>
</li>


        

        <!-- All New Visits List -->
        <li class="nav-item">
          <a href="{%url 'sales_list' %}">
            <i class="fas fa-calendar-check"></i>
            <p>sales</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{%url 'all_visit_list'%}">
            <i class="fas fa-calendar-check"></i>
            <p>Visits Submited</p>
          </a>
        </li>

       

        <!-- Customer Directory -->
        <li class="nav-item">
          <a href="{%url 'customer_list'%}">
            <i class="fas fa-address-book"></i>
            <p>Customer Directory</p>
          </a>
        </li>

       


      </ul>
    </div>
  </div>
</div>
